body {
    background-color: #202424;
    color: #f2f2f2;
    font-family: 'Trebuchet MS';
    margin: 0;
    padding: 0;
}

header {
    background-color: #202424;
    padding: 2%;
}

/* Alinea los elementos de la lista a la derecha */
nav ul {
    text-align: right;
    margin-right: 4%;
}

/* Estilo para los elementos de la lista en el menú de navegación */
nav ul li {
    display: inline;
    margin-left: 4%; /* Margen a la izquierda entre elementos de la lista */
    font-weight: bold; /* Establece el texto en negrita */
    font-size: 1rem;
}

/* Estilo para los enlaces dentro de los elementos de lista */
nav ul li a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: inherit; /* Usa el color heredado del texto */
    cursor: default; /* Cambia el cursor del mouse para que no parezca un enlace */
}

.section {
    padding: 5%;
}


h3 {
    font-size: 3vw; /* Ajustado para mantener el aspecto original */
}

.profile {
    float: left;
    margin-right: 4%;
    height: auto; /* Ajusta la altura automáticamente */
}

.profile img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin-top: 1rem; /* Ajusta este valor según sea necesario */
    margin-right: 4%;
}


.profile-name {
    font-size: 4rem;
    font-weight: 700;
}

.profile-txt {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0; /* Elimina el espacio inferior */
}

.profile-description {
    font-size: 2rem;
    font-weight: 400;
}

.profile-description-2 {
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 3rem; /* Espacio entre la descripción y el botón */
    margin-right: 25rem; /* Puedes ajustar el valor de margen derecho según tus necesidades */
}

.download-button {
    background-color: #10f0fc;
    color: #1c2025;
    border: none;
    padding: 12px 24px;
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
}

.imagen-container {
    display: flex;
    align-items: center;
    gap: 4rem; /* Espacio entre las imágenes */
    margin-left: 40rem; /* Puedes ajustar el valor de margen derecho según tus necesidades */

}

.imagen {
    width: 9rem; /* Establece el ancho deseado para las imágenes */
    height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
}

.cards {
    display: flex;
    gap: 5rem; /* Ajustar el espacio entre las tarjetas */
    margin-left: 30rem; /* Puedes ajustar el valor de margen derecho según tus necesidades */


}

.card {
    
    width: 26rem; /* Cambiar a unidades rem */
    padding: 2rem; /* Cambiar a unidades rem */
    background-color: #27282f;
    border: 1px solid #27282f;
    
}

.card-content {
    margin-top: 1rem; /* Cambiar a unidades rem */
}

.card-content h5 {
    font-size: 1.8rem; /* Tamaño del subtítulo */
    font-weight: bold;
    margin-bottom: 0.5rem; /* Espacio entre el subtítulo y la lista de ítems */
}

.card-content ul {
    list-style-type: disc; /* Establece el tipo de viñeta para la lista de ítems */
    margin-left: 1.5rem; /* Espacio a la izquierda de la lista */
}

.card-content li {
    font-size: 1.1rem; /* Tamaño del texto de la lista de ítems */
    margin-bottom: 0.6rem; /* Espacio entre los elementos de la lista */
}

.card-txt {
    font-size: 2.2rem;
    color: #10f0fc;
}
.project-grid {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
}

.project {
    background-color: #27282f;
    border: 1px solid #27282f;
    padding: 8px;
    text-align: center;
}

.project img {
    max-width: 70%;
    height: auto;
    margin-bottom: 2rem;
    margin-top: 1rem; /* Ajusta este valor según sea necesario */

}

.project h5 {
    font-size: 1.2rem;
    color: #10f0fc;
    margin: 5px 0;
}

.project a {
    text-decoration: none;
    color: inherit;
}


footer {
    text-align: center;
    margin-top: 2rem; /* Espacio superior */
    padding-top: 2rem; /* Espacio superior */
    background-color: #202424;
    color: #f2f2f2;
    font-size: 1.4rem;
}

.footer-logos {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espacio entre los logotipos */
    margin-bottom: 20px; /* Espacio inferior */
}

.footer-logos img {
    width: 32px; /* Ajusta el tamaño de los logotipos */
    height: 32px; /* Ajusta el tamaño de los logotipos */
}

hr {
    border: none;
    border-top: 1px solid #f2f2f2; /* Línea horizontal */
    margin: 10px 0; /* Espacio entre la línea y el texto */
}


/* Cambia el color del <hr> y del texto dentro del footer */
footer hr {
    border: none;
    border-top: 1px solid #10f0fc; /* Cambia el color del <hr> */
    margin: 10px 0; /* Espacio entre la línea y el texto */
}

footer p {
    margin: 0;
    padding: 0;
    color: #10f0fc; /* Cambia el color del texto del footer */
}
